/* ////////////General//////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-weight: 300;
}
p{
    font-weight: 200;
}

/* ////////////Navbar////////////// */
.icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icons ul{
    position: absolute;
    top: 0;
}
.icons li{
    list-style: none;
}


/* ///////////////CARDS//////////////// */
span{
    width: 20px;
    text-decoration: underline;

}
.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(189, 189, 189);
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    max-width: 450px;
    background-color: white;
    margin: 20px;
    padding: 30px;
}
.cardImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -20%;

}

.circle{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background-color: white;
    position: relative;
    margin: auto;
    top: 30%;
}
.circle2{
    border-radius: 100px;
    height: 120px;
    width: 120px;
    background-color: rgb(145, 108, 142);
    position: absolute;
    top: -50%;
    left: 50%;
}



@media screen and (max-width: 990px) {
    .icons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .icons ul{
        position: absolute;
        top: 0;
        text-align: center;
    }
}




