.productContent h5{
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}
.productContent p{
    font-weight: 400;  
}

.productContent button{
    background-color: #134E5E;
    color: white;
    border: 1px solid #134E5E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.productContent button:hover{
    color: #134E5E;
    background-color: white;
}
button{
    color: #134E5E;
    height:40px;
    border: 1px solid #134E5E;
}

button:hover{
    background-color: #134E5E;
    color: white;
}
.productContent h5{
    margin-top: -20px;
}
.productContent{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardProducts{
    margin: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    width: 250px !important;
    background-color: rgb(224, 224, 224);
    transition: 0.7s ease-in-out;
    border: 2px solid #134E5E;
    border-bottom: none;
}
.cardProducts:hover{
    transform: translateY(-1px);
    box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
}

.productImg{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.productInfo{
    border-radius: 0 0 10px 10px;
    background-color: white;
}
.cart{
    position: relative;
    float: right;
    top: -240px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.cart svg{
    color: black;
    width: 25px;
    position: relative;
    left: 6px;
    top: 5px;
    transition: 0.5s ease-in;
    
}
.cart svg:hover{
    transform: scale(1.2);
}