.productContent h5 {
  margin-top: -20px;
  font-weight: 400;
  text-align: center;
}
.productContent p {
  font-weight: 400;
}
.cardsProducts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productContent button {
  background-color: #434444;
  font-size: 1.1rem;
  color: white;
  border: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 100%;
  height: 40px;
}

.productContent button:hover {
  opacity: 0.9;
}

.productContent {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardProducts {
  margin: 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  width: 250px !important;
  background-color: rgb(224, 224, 224);
  transition: 0.3s;
  border: 1px solid #0707071b;
}
.cardProducts:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);
  /*  border-color: #134e5e; */
}

.productImg {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.productInfo {
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.cart {
  position: relative;
  float: right;
  top: -240px;
  right: 10px;
  background-color: rgba(131, 132, 132, 0.46);
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}
.cart svg {
  color: rgb(22, 22, 22);
  width: 25px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}
.cart:hover svg {
  transform: scale(1.1);
}
